.container {
    margin-top: 50px;
    text-align: center;
    width: 800px;
    margin-bottom: 80px;
}
.graphs_title{
    margin-top: 50px;
    padding-bottom: 20px;
}
.graph_canvas{
    margin-bottom: 60px;
}