.container {
    margin-top: 50px;
    text-align: center;
    width: 100vw;
    margin-bottom: 80px;
}
.graphs_title{
    margin-top: 50px;
    padding-bottom: 20px;
}
.graph_canvas{
    margin-bottom: 60px;
}

.forms_graphs
{
    display: flex;
    justify-content: center;
    width: 100%;
}