.container {
  width: 100%;
  height: calc(100vh - 56px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 12%,
    rgba(2, 0, 37, 1) 63%,
    rgba(1, 40, 176, 1) 5370%
  );
}

.inner_container{
  width: 400px;
  margin-top: -50px;
}